# Python virtual environment folder
.venv/

# Visual Studio Code settings and workspace folder
.vscode/

# Compiled Python files
__pycache__/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoint files
.ipynb_checkpoints